.App {
  text-align: center;
}

.sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2px;
  max-width: 400px;
  margin: auto;
}

.sudoku-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.sudoku-cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
}

.controls {
  margin: 20px auto;
  text-align: center;
}

.controls button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.reset-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(198, 156, 238);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.reset-button:hover {
  background-color: blueviolet;
}
.win-message{
  /* margin: 10px; */
  padding-top: 15px;
}